fastapi
uvicorn
langgraph
langchain-openai
openai
pydantic
python-multipart
python-dotenv
cassandra-driver
aiohttp
pytest
pytest-asyncio
firebase-admin
python-jose[cryptography]
python-multipart
PyGithub
nanoid
cqlsh
